In [ ]:
import pandas as pd

df = pd.read_csv('./Expanded_data_with_more_features.csv')

In [ ]:
df.columns

Index(['Unnamed: 0', 'Gender', 'EthnicGroup', 'ParentEduc', 'LunchType',
       'TestPrep', 'ParentMaritalStatus', 'PracticeSport', 'IsFirstChild',
       'NrSiblings', 'TransportMeans', 'WklyStudyHours', 'MathScore',
       'ReadingScore', 'WritingScore'],
      dtype='object')

In [ ]:
df.describe()

         Unnamed: 0    NrSiblings     MathScore  ReadingScore  WritingScore
count  30641.000000  29069.000000  30641.000000  30641.000000  30641.000000
mean     499.556607      2.145894     66.558402     69.377533     68.418622
std      288.747894      1.458242     15.361616     14.758952     15.443525
min        0.000000      0.000000      0.000000     10.000000      4.000000
25%      249.000000      1.000000     56.000000     59.000000     58.000000
50%      500.000000      2.000000     67.000000     70.000000     69.000000
75%      750.000000      3.000000     78.000000     80.000000     79.000000
max      999.000000      7.000000    100.000000    100.000000    100.000000

In [ ]:
# 1

df.groupby(["Gender"])['Gender'].count()

Gender
female    15424
male      15217
Name: Gender, dtype: int64

In [ ]:

# 2

male = df.query('Gender == "male"')['Gender'].count()
female = df.query('Gender == "female"')['Gender'].count()
male / (male + female) * 100

49.6622172905584

In [ ]:
# 3 

male = df.query('Gender == "male"')['Gender'].count()
female = df.query('Gender == "female"')['Gender'].count()
female / (male + female) * 100

50.337782709441605

In [ ]:
# 4

df.groupby('EthnicGroup')["MathScore"].mean().sort_values(ascending=False)[:1]

EthnicGroup
group E    75.298936
Name: MathScore, dtype: float64

In [ ]:
# 5

df.groupby('EthnicGroup')["ReadingScore"].mean().sort_values(ascending=False)[:1]

EthnicGroup
group E    74.251423
Name: ReadingScore, dtype: float64

In [ ]:
# 6

df.groupby('EthnicGroup')["WritingScore"].mean().sort_values(ascending=False)[:1]

EthnicGroup
group E    72.67706
Name: WritingScore, dtype: float64

In [ ]:
# 7

df.query("TestPrep == 'completed'")["MathScore"].mean()

69.5466599698644

In [ ]:
# 8

df.query("TestPrep == 'completed'")["ReadingScore"].mean()

73.73299849321948

In [ ]:
# 9
df['MeanTestsScore'] = (df['MathScore'] + df['ReadingScore'] + df['WritingScore'])/3

df.query("TestPrep == 'completed'")["MeanTestsScore"].mean()

72.66097438473129

In [ ]:
# 10

df.query("ParentMaritalStatus == 'married'").count()['ParentMaritalStatus']

16844

In [ ]:
# 11

df.query("ParentMaritalStatus == 'single'").count()['ParentMaritalStatus']

7097

In [ ]:
# 12

reg = df.query("PracticeSport == 'regularly'")["MathScore"].mean()
nev = df.query("PracticeSport == 'never'")["MathScore"].mean()
reg > nev

True

In [ ]:
# 13

reg = df.query("PracticeSport == 'regularly'")["ReadingScore"].mean()
nev = df.query("PracticeSport == 'never'")["ReadingScore"].mean()
reg > nev

True

In [ ]:
# 14 

df.query('TransportMeans == "school_bus"')['TransportMeans'].count()

16145

In [ ]:
# 15

df.query('TransportMeans == "private"')['TransportMeans'].count()

11362